# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("../starter_code/WeatherPy.csv")
weather_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,korla,41.85,-87.65,70,52,75,24.16,US,1620008142
1,lavrentiya,41.85,-87.65,70,52,75,24.16,US,1620008142
2,mys shmidta,41.85,-87.65,70,52,75,24.16,US,1620008142
3,vaitupu,41.85,-87.65,70,52,75,24.16,US,1620008161
4,tabulbah,41.85,-87.65,70,52,75,24.16,US,1620008023
...,...,...,...,...,...,...,...,...,...
769,manggar,41.85,-87.65,70,52,75,24.16,US,1620008161
770,kismayo,41.85,-87.65,70,52,75,24.16,US,1620008323
771,fianga,41.85,-87.65,70,52,75,24.16,US,1620008142
772,inhambane,41.85,-87.65,70,52,75,24.16,US,1620008323
773,marau,41.85,-87.65,70,52,75,24.16,US,1620008107

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

In [4]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
max_intensity

52

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 75) & (weather_data["Max Temp"] <= 90)].dropna()

narrowed_city_df= weather_data
narrowed_city_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,korla,41.85,-87.65,70,52,75,24.16,US,1620008142
1,lavrentiya,41.85,-87.65,70,52,75,24.16,US,1620008142
2,mys shmidta,41.85,-87.65,70,52,75,24.16,US,1620008142
3,vaitupu,41.85,-87.65,70,52,75,24.16,US,1620008161
4,tabulbah,41.85,-87.65,70,52,75,24.16,US,1620008023
...,...,...,...,...,...,...,...,...,...
769,manggar,41.85,-87.65,70,52,75,24.16,US,1620008161
770,kismayo,41.85,-87.65,70,52,75,24.16,US,1620008323
771,fianga,41.85,-87.65,70,52,75,24.16,US,1620008142
772,inhambane,41.85,-87.65,70,52,75,24.16,US,1620008323
773,marau,41.85,-87.65,70,52,75,24.16,US,1620008107

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

            City Country    Lat    Lng Hotel Name
0          korla      US  41.85 -87.65
1     lavrentiya      US  41.85 -87.65
2    mys shmidta      US  41.85 -87.65
3        vaitupu      US  41.85 -87.65
4       tabulbah      US  41.85 -87.65
..           ...     ...    ...    ...        ...
769      manggar      US  41.85 -87.65
770      kismayo      US  41.85 -87.65
771       fianga      US  41.85 -87.65
772    inhambane      US  41.85 -87.65
773        marau      US  41.85 -87.65

[774 rows x 5 columns]

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [ ]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 0: korla.
Closest hotel in korla is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 1: lavrentiya.
Closest hotel in lavrentiya is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 2: mys shmidta.
Closest hotel in mys shmidta is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 3: vaitupu.
Closest hotel in vaitupu is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 4: tabulbah.
Closest hotel in tabulbah is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 5: leshukonskoye.
Closest hotel in leshukonskoye is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 6: araouane.
Closest hotel in araouane is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 7: meadow lake.
Closest hotel in meadow lake is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 8: karaul.
Closest hotel in karaul is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 9: cape town.
Closest hotel in cape town is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 10: codrington.
Closest hotel in codrington is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 11: busselton.
Closest hotel in busselton is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 12: linjiang.
Closest hotel in linjiang is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 13: albany.
Closest hotel in albany is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 14: tingo maria.
Closest hotel in tingo maria is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 15: ushuaia.
Closest hotel in ushuaia is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 16: isangel.
Closest hotel in isangel is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 17: cherskiy.
Closest hotel in cherskiy is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 18: ilulissat.
Closest hotel in ilulissat is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 19: alvorada.
Closest hotel in alvorada is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 20: hopkinton.
Closest hotel in hopkinton is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 21: jamestown.
Closest hotel in jamestown is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 22: hasaki.
Closest hotel in hasaki is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 23: samagaltay.
Closest hotel in samagaltay is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 24: nizhneyansk.
Closest hotel in nizhneyansk is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 25: puerto ayora.
Closest hotel in puerto ayora is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 26: taolanaro.
Closest hotel in taolanaro is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 27: mount gambier.
Closest hotel in mount gambier is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 28: port lincoln.
Closest hotel in port lincoln is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 29: mizan teferi.
Closest hotel in mizan teferi is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 30: adrar.
Closest hotel in adrar is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 31: lasa.
Closest hotel in lasa is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 32: butaritari.
Closest hotel in butaritari is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 33: barrow.
Closest hotel in barrow is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 34: ismailia.
Closest hotel in ismailia is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 35: bluff.
Closest hotel in bluff is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 36: sentyabrskiy.
Closest hotel in sentyabrskiy is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 37: bethel.
Closest hotel in bethel is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 38: kaoma.
Closest hotel in kaoma is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 39: chokurdakh.
Closest hotel in chokurdakh is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 40: mar del plata.
Closest hotel in mar del plata is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 41: nettuno.
Closest hotel in nettuno is Hotel Chicago Downtown, Autograph Collection.
------------
Retrieving Results for Index 42: lompoc.
Closest hotel in lompoc is The Hoxton, Chicago.
------------
Retrieving Results for Index 43: geraldton.
Closest hotel in geraldton is The Hoxton, Chicago.
------------
Retrieving Results for Index 44: vaini.
Closest hotel in vaini is The Hoxton, Chicago.
------------
Retrieving Results for Index 45: san policarpo.
Closest hotel in san policarpo is The Hoxton, Chicago.
------------
Retrieving Results for Index 46: sawtell.
Closest hotel in sawtell is The Hoxton, Chicago.
------------
Retrieving Results for Index 47: plettenberg bay.
Closest hotel in plettenberg bay is The Hoxton, Chicago.
------------
Retrieving Results for Index 48: northam.
Closest hotel in northam is The Hoxton, Chicago.
------------
Retrieving Results for Index 49: maniitsoq.
Closest hotel in maniitsoq is The Hoxton, Chicago.
------------
Retrieving Results for Index 50: atuona.
Closest hotel in atuona is The Hoxton, Chicago.
------------
Retrieving Results for Index 51: monster.
Closest hotel in monster is The Hoxton, Chicago.
------------
Retrieving Results for Index 52: saskylakh.
Closest hotel in saskylakh is The Hoxton, Chicago.
------------
Retrieving Results for Index 53: saleaula.
Closest hotel in saleaula is The Hoxton, Chicago.
------------
Retrieving Results for Index 54: port macquarie.
Closest hotel in port macquarie is The Hoxton, Chicago.
------------
Retrieving Results for Index 55: ereymentau.
Closest hotel in ereymentau is The Hoxton, Chicago.
------------
Retrieving Results for Index 56: ponta do sol.
Closest hotel in ponta do sol is The Hoxton, Chicago.
------------
Retrieving Results for Index 57: hofn.
Closest hotel in hofn is The Hoxton, Chicago.
------------
Retrieving Results for Index 58: srednekolymsk.
Closest hotel in srednekolymsk is The Hoxton, Chicago.
------------
Retrieving Results for Index 59: kon tum.
Closest hotel in kon tum is The Hoxton, Chicago.
------------
Retrieving Results for Index 60: hami.
Closest hotel in hami is The Hoxton, Chicago.
------------
Retrieving Results for Index 61: thompson.
Closest hotel in thompson is The Hoxton, Chicago.
------------
Retrieving Results for Index 62: chuy.
Closest hotel in chuy is The Hoxton, Chicago.
------------
Retrieving Results for Index 63: avarua.
Closest hotel in avarua is The Hoxton, Chicago.
------------
Retrieving Results for Index 64: tessalit.
Closest hotel in tessalit is The Hoxton, Chicago.
------------
Retrieving Results for Index 65: bloomsburg.
Closest hotel in bloomsburg is The Hoxton, Chicago.
------------
Retrieving Results for Index 66: kaitangata.
Closest hotel in kaitangata is The Hoxton, Chicago.
------------

Retrieving Results for Index 67: grand river south east.
Closest hotel in grand river south east is The Hoxton, Chicago.
------------
Retrieving Results for Index 68: saint george.
Closest hotel in saint george is The Hoxton, Chicago.
------------
Retrieving Results for Index 69: bucerias.
Closest hotel in bucerias is The Hoxton, Chicago.
------------
Retrieving Results for Index 70: faya.
Closest hotel in faya is The Hoxton, Chicago.
------------
Retrieving Results for Index 71: sioux lookout.
Closest hotel in sioux lookout is The Hoxton, Chicago.
------------
Retrieving Results for Index 72: laguna.
Closest hotel in laguna is The Hoxton, Chicago.
------------
Retrieving Results for Index 73: mackay.
Closest hotel in mackay is The Hoxton, Chicago.
------------
Retrieving Results for Index 74: east london.
Closest hotel in east london is The Hoxton, Chicago.
------------
Retrieving Results for Index 75: kodiak.
Closest hotel in kodiak is The Hoxton, Chicago.
------------
Retrieving Results for Index 76: bredasdorp.
Closest hotel in bredasdorp is The Hoxton, Chicago.
------------
Retrieving Results for Index 77: barentsburg.
Closest hotel in barentsburg is The Hoxton, Chicago.
------------
Retrieving Results for Index 78: moose factory.
Closest hotel in moose factory is The Hoxton, Chicago.
------------
Retrieving Results for Index 79: japura.
Closest hotel in japura is The Hoxton, Chicago.
------------
Retrieving Results for Index 80: ahipara.
Closest hotel in ahipara is The Hoxton, Chicago.
------------
Retrieving Results for Index 81: castro.
Closest hotel in castro is The Hoxton, Chicago.
------------
Retrieving Results for Index 82: payakumbuh.
Closest hotel in payakumbuh is The Hoxton, Chicago.
------------
Retrieving Results for Index 83: wawina.
Closest hotel in wawina is The Hoxton, Chicago.
------------
Retrieving Results for Index 84: dikson.
Closest hotel in dikson is The Hoxton, Chicago.
------------
Retrieving Results for Index 85: samusu.
Closest hotel in samusu is The Hoxton, Chicago.
------------
Retrieving Results for Index 86: grand-lahou.
Closest hotel in grand-lahou is The Hoxton, Chicago.
------------
Retrieving Results for Index 87: hermanus.
Closest hotel in hermanus is The Hoxton, Chicago.
------------
Retrieving Results for Index 88: pointe-noire.
Closest hotel in pointe-noire is The Hoxton, Chicago.
------------
Retrieving Results for Index 89: mayen.
Closest hotel in mayen is The Hoxton, Chicago.
------------
Retrieving Results for Index 90: bengkulu.
Closest hotel in bengkulu is The Hoxton, Chicago.
------------
Retrieving Results for Index 91: tura.
Closest hotel in tura is The Hoxton, Chicago.
------------
Retrieving Results for Index 92: tumannyy.
Closest hotel in tumannyy is The Hoxton, Chicago.
------------
Retrieving Results for Index 93: port alfred.
Closest hotel in port alfred is The Hoxton, Chicago.
------------
Retrieving Results for Index 94: hobart.
Closest hotel in hobart is The Hoxton, Chicago.
------------
Retrieving Results for Index 95: mbaiki.
Closest hotel in mbaiki is The Hoxton, Chicago.
------------
Retrieving Results for Index 96: galle.
Closest hotel in galle is The Hoxton, Chicago.
------------
Retrieving Results for Index 97: yabrud.
Closest hotel in yabrud is The Hoxton, Chicago.
------------
Retrieving Results for Index 98: belushya guba.
Closest hotel in belushya guba is The Hoxton, Chicago.
------------
Retrieving Results for Index 99: esperance.
Closest hotel in esperance is The Hoxton, Chicago.
------------
Retrieving Results for Index 100: port blair.
Closest hotel in port blair is The Hoxton, Chicago.
------------
Retrieving Results for Index 101: belaya gora.
Closest hotel in belaya gora is The Hoxton, Chicago.
------------
Retrieving Results for Index 102: urdzhar.
Closest hotel in urdzhar is The Hoxton, Chicago.
------------
Retrieving Results for Index 103: punta arenas.
Closest hotel in punta arenas is The Hoxton, Chicago.
------------
Retrieving Results for Index 104: oksfjord.
Closest hotel in oksfjord is The Hoxton, Chicago.
------------
Retrieving Results for Index 105: buqayq.
Closest hotel in buqayq is The Hoxton, Chicago.
------------
Retrieving Results for Index 106: esterhazy.
Closest hotel in esterhazy is The Hoxton, Chicago.
------------
Retrieving Results for Index 107: guerrero negro.
Closest hotel in guerrero negro is The Hoxton, Chicago.
------------
Retrieving Results for Index 108: shahpura.
Closest hotel in shahpura is The Hoxton, Chicago.
------------

In [ ]:
# Display the hotel dataframe
hotel_df

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Display figure
fig.add_layer(markers)

# Display Map
fig